# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Flask
instance/
*.db

# Reports
reports/
uploads/
logs/

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/
